<section class="section brd-btm padd-box"> 
<div class="row"> 
<div class="col-sm-12"> 
 <h2 class="title-lg text-upper">关于我</h2> 
 <div class="text-box"> 
  <p><b>你好，我是Kim！</b><br />我是一名软件工程师，专注于Java后端开发。<br />
  我热爱编程，喜欢探索新技术，并乐于分享技术经验。<br />
  目前主要从事企业级应用开发，对分布式系统、微服务架构和云原生技术有着浓厚的兴趣。<br />
  在这里，我会记录一些技术文章和个人心得。</p>
</p> 
 </div> 
</div> 
</div> 
<!-- .row --> 
</section> 